/* ESTILOS NORMALES (para móviles en vertical) */

.nav.nav-tabs {
    display: block;
    text-align: center;
    border: none;
}

.nav.nav-tabs li {
    display: inline-block;
    margin-right: 8px; 
}

.btn-timeline {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    margin: 0px;
    line-height: 50px;
    border-radius: 5px;
    padding: 0px 40px;
    font-weight: 500;
}

.btn-timeline.active {
    background-color: #fff;
    color: #212121;
}

.scroll-timeline {
    overflow: auto;
    max-height: 350px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-timeline::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.scroll-timeline {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.main-timeline {
    position: relative;
}

.main-timeline:before {
    content: "";
    display: block;
    width: 5px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.main-timeline .timeline {
    position: relative;
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both;
}

.main-timeline .icon,
.main-timeline .icon:after {
    margin: auto 0;
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main-timeline .icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
}

.main-timeline .icon:after {
    content: "";
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    background-color: #fff;
}

.main-timeline .timeline-date {
    width: 100%;
    float: left;
    padding: 20px 0 0 50px;
}

.main-timeline .date-outer {
    font-size: 16px;
    margin: auto;
}

.main-timeline .date {
    margin: auto;
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700;
    margin-left: 12px;
}

.main-timeline .year {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.main-timeline .timeline-content {
    width: 100%;
    padding: 20px 0 20px 50px;
    float: left;
}

.main-timeline .timeline-title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0;
}

.main-timeline .timeline-puesto {
    margin-bottom: 0;
}

/* RESPONSIVE */

/* Móviles en horizontal o tablets en vertical */
@media (min-width: 768px) { 

    .nav.nav-tabs li {
        margin-right: 25px; 
    }

    .scroll-timeline {
        max-height: 500px;
    }

    .main-timeline:before {
        margin: 0 auto;
    }

    .main-timeline .icon {
        margin: 54px auto;
    }

    .main-timeline .timeline-date {
        width: 50%;
        position: relative;
        margin-top: 6px;
        padding: 0;
    }

    .main-timeline .timeline-date:before {
        content: "";
        width: 32%;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 0 0;
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
    }

    .main-timeline .date-outer {
        width: 125px;
        height: 125px;
        text-align: center;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        border: 2px solid #fff;
    }

    .main-timeline .date {
        position: relative;
        top: 25%;
        left: 0;
    }

    .main-timeline .month {
        margin-left: 0;
    }
    
    .main-timeline .year {
        display: block;
    }

    .main-timeline .timeline-content {
        width: 50%;
        float: right;
    }

    .main-timeline .timeline:nth-child(2n) .timeline-date {
        float: right
    }
    
    .main-timeline .timeline:nth-child(2n) .timeline-date:before {
        left: 0;
    }
    
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 20px 50px 20px 0;
        text-align: right
    }
}

/* Ajustes de linea */
@media (min-width: 992px) {
    .main-timeline .timeline-date:before {
        width: 37%;
    }
}
 
/* Tablets en horizonal y escritorios normales */
@media (min-width: 1024px) { 
    .main-timeline .timeline-date:before {
        width: 37%;
    }
}
 
/* Escritorios muy anchos */
@media (min-width: 1200px) {
    .main-timeline .timeline-date:before {
        width: 39%;
    }
}