<section class="resumen-background p-5 pt-5">
    <ul class="nav flex-column scroll-list-group">
        <li class="scroll-item">
            <a class="nav-link scroll-link" href="#skills">Skills</a>
        </li>
        <li class="scroll-item">
            <a class="nav-link scroll-link" href="#cursos">Cursos</a>
        </li>
        <li class="scroll-item">
            <a class="nav-link scroll-link" href="#certificaciones">Certificaciones</a>
        </li>
        <li class="scroll-item">
            <a class="nav-link scroll-link" href="#servicios">Servicios</a>
        </li>
    </ul>
</section>
