/* ESTILOS NORMALES (para móviles en vertical) */

.resumen-background {
    background-color: #D0D0D0;
}

.scroll-list-group {
    display: none;
}

.resumen-data {
    height: 100%;
    width: 100%;
}

.scroll-link {
    color: #212121;
    font-size: 1.5em;
    font-weight: 500;
    cursor: pointer;
}

.scroll-link:hover {
    color: #0092ca;
}

.scroll-link.active {
    color: #0092ca;
}


/* RESPONSIVE */
/* Moviles un poco mas anchos */
@media (min-width: 576px) {
    
}

/* Móviles en horizontal o tablets en vertical */
@media (min-width: 768px) {

}

/* Tablets en horizonal y escritorios normales */
@media (min-width: 1024px) { 
    
}
 
/* Escritorios muy anchos */
@media (min-width: 1200px) {

    .container {
        max-width: 1170px;
    }

    .resumen-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .scroll-list-group {
        width: 20%;
        display: flex;
        flex-direction: column;
    }
    
    .resumen-data {
        overflow: auto;
        max-height: 80vh; /* TODO Calcular este dato junto al nabvar */
        width: 80%;
    }
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    .resumen-data::-webkit-scrollbar {
        display: none;
    }
      
    /* Hide scrollbar for IE, Edge and Firefox */
    .resumen-data {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    
    .scroll-link:hover {
        padding-left: 50px;
    }
    
    .scroll-link.active {
        padding-left: 50px;
    }

}

@media (min-width: 1620px) {
    .box_1620 {
        max-width: 1620px;
        margin: auto;
        width: 100%; 
    } 
}