<!-- Nav Bar -->
<app-topbar></app-topbar>
<!-- Apartado Inicial -->
<app-inicio id="inicio"></app-inicio>
<!-- Datos sobre mi -->
<app-sobre-mi id="sobre-mi" style="scroll-margin-top: 66px;"></app-sobre-mi>
<!-- Experiencia laboral y estudios -->
<app-time-line></app-time-line>
<!-- Datos de interes -->
<app-resumen id="resumen" style="scroll-margin-top: 66px;"></app-resumen>
<!-- Proyectos -->
<app-proyectos id="proyectos" style="scroll-margin-top: 66px;"></app-proyectos>
<!-- Testimonios -->
<app-testimonios></app-testimonios>
<!-- Contacto -->
<app-contacto id="contacto" style="scroll-margin-top: 65px;"></app-contacto>-->
<!-- Footer -->
<app-footer></app-footer>