<div class="jumbotron jumbotron-fluid bg-grey">
    <div class="container">
        <!-- Probar a hacerlo con media -->
        <div class="custom-card d-flex flex-row justify-content-between align-items-center bg-white rounded">
            <div class="col-md-4 d-none d-lg-block">
                <img class="img-fluid rounded" src="assets/img/foto.png" alt="Logo">
            </div>
            <div class="col-md justify-content-between">
                <span>Hola, yo soy</span>
                <h2>{{datosPersonales.nombre}}</h2>
                <h5>{{datosPersonales.categoria}}</h5>
                <p>{{datosPersonales.descripcion}}</p>
                <div class="row justify-content-start" *ngFor="let dato of datosPersonales.datos">
                    <h6 class="col-sm-3">{{dato.label}}</h6>
                    <span class="col-sm">{{dato.dato}}</span>
                </div>
                <div class="row">
                    <h6 class="col-sm">Redes sociales: </h6>
                    <span class="col-sm">{{datosPersonales.nombre}}</span>
                </div>
            </div>
        </div>
    </div>
</div>