<section class="jumbotron jumbotron-fluid mb-0 bg-grey">
    <div class="container custom-card">
        <div class="banner_inner d-flex align-items-center">
            <div class="banner-content">
                <div class="media">
                    <div class="d-flex">
                        <img src="assets/img/personal.jpg" alt="Logo">
                    </div>
                    <div class="media-body">
                        <div class="personal_text">
                            <h6>Hola a todos, yo soy</h6>
                            <h3>{{datosPersonales.nombre}}</h3>
                            <h4>{{datosPersonales.categoria}}</h4>
                            <p>{{datosPersonales.descripcion}}</p>
                            <ul class="list basic_info">
                                <li *ngFor="let dato of datosPersonales.datos">
                                    <span><i class="{{dato.icon}}"></i>{{dato.dato}}</span>
                                </li>
                            </ul>
                            <ul class="list personal_social">
                                <li *ngFor="let rs of datosPersonales.redSoc">
                                    <a href="{{rs.url}}" target="blank"><i class="{{rs.icon}}"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>