<section class="proyecto-background">
    <h2>Proyectos</h2>
    <div class="d-flex justify-content-center">
        <nav class="nav">
            <a class="nav-link link-proyectos" (click)="mostrarTodosLosProyectos()">Todos los proyectos</a>
            <a *ngFor="let proyecto of proyectos" class="nav-link link-proyectos" (click)="mostrarProyectos(proyecto)">{{proyecto.categoria}}</a>
        </nav>
    </div>
    <div class="container">
        <app-proyecto *ngFor="let proyectoCard of proyectosCards" [proyecto]="proyectoCard"></app-proyecto>
    </div>
</section>