<div class="inicio-background bg-accent">
    <img class="img-inicio" src="assets/img/inicio-foto.png" alt="Foto Inicial">
    <div class="contenedor-texto-inicio">
        <div class=" inicio-text">
            <span>Hola, soy <span class="txt-c-w">Jon Ander</span></span><br>
            <span>Desarrollador Junior</span><br>
            <span>de Software</span>
        </div>
        <div class="contenedor-boton-inicio">
            <button>Contactame</button>
            <button>Descargar CV</button>
        </div>
    </div>
</div>