<div class="inicio-background bg-accent">
    <img class="img-inicio" src="assets/img/inicio-foto.png" alt="Foto Inicial">
    <div class="contenedor-inicio">
        <div class="contenedor-texto-inicio">
            <div class=" inicio-text">
                <span>Hola, soy <span class="txt-c-w">Jon Ander</span></span><br>
                <span>Desarrollador Junior</span><br>
                <span>de Software</span>
            </div>
        </div>
        <div class="contenedor-boton-inicio">
            <button class="btn btn-contacto">Contactame</button>
            <button class="btn btn-descarga">Descargar CV</button>
        </div>
    </div>
</div>