<div class="inicio-background bg-accent">
    <img class="img-inicio" src="assets/img/undraw_Mobile_application_mr4r.svg" alt="Foto Inicial">
    <div class="contenedor-inicio">
        <div class="contenedor-texto-inicio">
            <div class="inicio-text">
                <span>Hola, soy <span class="txt-c-w">Jon Ander</span></span><br>
                <span>Desarrollador Junior</span><br>
                <span>de Software</span>
            </div>
        </div>
        <div class="contenedor-boton-inicio">
            <a class="btn btn-contacto" href="#contacto">Contactame</a>
            <a class="btn btn-descarga" href="{{url}}" target="_blank">Descargar CV</a>
        </div>
    </div>
</div>